h1{
	background-color: green;
    }
h2{
	background-color: yellow;
	}
h3{
	background-color: orange;
	}
h4{
	background-color: cyan;
	}
h5{
	background-color: violet;
	}
p{
	background-color: red;
    }